# Created by https://www.toptal.com/developers/gitignore/api/xcode,swiftpackagemanager,git
# Edit at https://www.toptal.com/developers/gitignore?templates=xcode,swiftpackagemanager,git

# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output
### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### SwiftPackageManager ###
Packages
.build/
xcuserdata
DerivedData/
# *.xcodeproj


### Xcode ###
## User settings
xcuserdata/
/fastlane/.env

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/xcode,swiftpackagemanager,git
.DS_Store

# Created by https://www.toptal.com/developers/gitignore/api/cocoapods
# Edit at https://www.toptal.com/developers/gitignore?templates=cocoapods

### CocoaPods ###
## CocoaPods GitIgnore Template

# CocoaPods - Only use to conserve bandwidth / Save time on Pushing
#           - Also handy if you have a large number of dependant pods
#           - AS PER https://guides.cocoapods.org/using/using-cocoapods.html NEVER IGNORE THE LOCK FILE
Pods/

# End of https://www.toptal.com/developers/gitignore/api/cocoapods
Particle/Particle.ipa
Particle/34T7STHRJ9.p12
Particle/34T7STHRJ9.certSigningRequest
Particle/34T7STHRJ9.cer
Particle/fastlane/.env
Particle/Particle.app.dSYM.zip
